<h1>Create a Room Page</h1>

<form action="/rooms/create-room" method="post">
    <input type="text" name="name" placeholder="Enter your room name..." required>
    <input type="text" name="description" placeholder="Enter your description..." required>
    <input type="text" name="imageUrl" placeholder="Enter your imageURL..." required>
    <button type="submit">Create Room</button>
</form>