<h1>Edit Room Page</h1>

<form action="/rooms/{{id}}/edit" method="post">
    <input type="text" name="name" value={{name}}>
    <input type="text" name="description" value={{description}}>
    <input type="text" name="imageUrl" value={{imageUrl}}>
    <button type="submit">edit Room</button>
</form>